* {
  font-family: 'Lato', sans-serif;
  margin: 0 !important;
}

body {
    line-height: 1.28;
    background-color: #e6ecff;
}

.container-fluid {
  padding: 1em;
}

.headings {
	color: white;
}
.navbar {
	background-color: black;
}
.content-box {
  display: flex;
  justify-content: space-between;
}
.card {
	background-color: lightgrey;
}

#keyword-info:hover {
  cursor: pointer;
}

.messages-window {
  display: flex;
  flex-direction: column;
  height: 27em;
  padding: 0.5em;
  border-radius: 0.4em;
}
.message-box {
  position: absolute;
  bottom: 10px;
  left: 1.5em;
  width: 64%;
}
.message-form {
  display: flex;
  justify-content: space-between;
}
#form-input {
  flex-grow: 10;
}
#form-input-submit {
  flex-grow: 1;
}
.keywords {
  height: 2em;
}
.chat-box {
  border: 2px double #503d3d;
  border-radius: 2px;
  height: inherit;
}

.side-bar {
  padding: 2em 1em;
}
.side-bar-rows {
  height: 2em;
  text-align: center;
}

.related-posts:hover {
  cursor: pointer;
}