/* GLOBAL STYLES */
* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

body {
	background-color:whitesmoke;  
	
	/* #e3e3e3;*/
}

/* SEARCHBAR */
.headings {
	color: white;
}
#searchbar {
	width: 50%;
	border-radius: 0.5em;
	height: 2.5em;
}
.navbar {
	
	background-color: black;
}
.cards
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin:10vh;
}
#trencards
{
	display:none;
}
.item
{
	height: 20vh;
	margin:10px;
	width:10vw;
	padding:25px;
	background-color: wheat;
	
}
.form-inline {
	display: flex;
	justify-content: center;
}

/* CARDS SECTION */

.cards-section {
	margin-top: 10em;

}

.list {
	border-bottom: 1px solid lightgray;
}