* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

body {
  background-color: #e3e3e3;
}

.headings {
  color: white;
}

.navbar {
  background-color: black;
}

#profile-section1 {
  border: 2px solid beige;
  border-radius: 1em;
}

#profile-pic {
  width: 12em;
  height: 12em;
  border-radius: 5em;
}
.details {
  height: 3em;
}

#profile-section2 {
  padding: 2em;
  background-color: bisque;
  border-radius: 10px;
}