* {
	font-family: 'Lato', sans-serif;
	margin: 0 !important;
  }

body {
    margin: 0; 
    background-color: #e3e3e3;
    line-height: 1.28;
  }

.navbar {
    background-color: black;
}

  h1
  {
    text-align: left;
  }


  .register{
    width: 500px;
    margin: 30px 0px 0px 1050px;
    font-size: 10;
  }
  #loci{
    width: 240px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
  }
  #navbar {
    width: 100%; 
    background-color: black;
    padding:15px  ;
  color: whitesmoke;
  } 